#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  font-size: 50px;
}

.welcome-screen {
  position: fixed;
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #111;
  color: white;
  z-index: 9998;
  opacity: 1;
  transition: opacity 1s ease-in-out;
}

.welcome-screen.fade-out {
  opacity: 0;
}

.blur-text {
  font-size: clamp(2rem, 6vw, 5rem);
  font-weight: bold;
  text-align: center;
}

.main-content {
  animation: fadeIn 1.5s ease forwards;
  opacity: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}


@media (max-width: 1024px) {
  .blur-text {
    font-size: 40px;
  }
}


@media (max-width: 768px) {
  .blur-text {
    font-size: 30px;
  }
}

@media (max-width: 369px) {
  .blur-text {
    font-size: 20px;
  }
}